:root {
    --primary-color: #FFFFFF;
    --secondary-color: #9e6d22;
    --h2-size: 30px;
    --h3-size: 44px;
    --h4-size: 28px;
    --h5-size: 18px;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    width: 100%;
}

nav#nav-header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    background-color: #00000085;
    padding: 25px 20px;
}

ul#links-center {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#links-center li {
    list-style-type: none;
}

#links-center li > a {
    color: var(--primary-color);
    text-decoration: none;
}

#links-center li > a:hover {
    color: var(--secondary-color)
}

#socials-media-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#socials-twitter {
    width: 1em;
}

#socials-facebook {
    width: 0.6em;
}

#socials-instagram  {
    width: 1em;
}

#socials-twitter:hover, #socials-facebook:hover, #socials-instagram:hover {
    cursor: pointer;
}

#background-image-header {
    background-image: url(../images/h5-revolution-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 auto;
    height: 960px;
    z-index: -2;
}

#slider-graphic {
    position: absolute;
    z-index: -1;
    left: 37em;
    top: 9em;
    width: 40em;
}

#slider-graphic img {
    width: 45em;
}

section#citation {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 30px 20px;
    font-size: var(--h2-size);
    font-weight: 600;
    text-align: center;
}

#article1-image-rightside-background {
    background-image: url(../images/h5-el-holder-img-1-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 auto;
    height: 600px;
    z-index: -2;
}

#traditions-article1 {
    display: flex;
    flex-direction: row;
}

#article1-leftside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#article1-leftside h3 {
   font-size: var(--h3-size);
   font-weight: 300;
}

#article1-rightside {
    width: 50%;
    position: relative;
    z-index: -2;
}

#article1-image-rightside {
    position: absolute;
    z-index: -1;
    padding: 5em 18em;
}

#traditions-article2 {
    display: flex;
    flex-direction: row;
}

#article2-image-leftside-background {
    background-image: url(../images/h5-el-holder-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 auto;
    height: 600px;
    z-index: -2;
}

#article2-leftside {
    width: 50%;
    position: relative;
    z-index: -2;
}

#article2-image-leftside {
    position: absolute;
    z-index: -1;
    padding: 5em 15em;
}

#article2-rightside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#article2-rightside h3 {
   font-size: var(--h3-size);
   font-weight: 300;
}

.traditions-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 15px 10px;
    margin: 26px 375px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.traditions-btn:hover {
    cursor: pointer;
    transition: background-color 1s ease;
    background-color: #e0b16b;
}

#article1-leftside p, #article2-rightside p {
    font-family: 'Raleway';
    line-height: 28px;
}

#article1-leftside h4, #article2-rightside h4 {
    font-family: 'Time New Roman';
    font-size: var(--h4-size);
    padding-bottom: 10px;
}

#services {
    display: flex;
    flex-direction: row;
}

.services-images-wrapper {
    width: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.services-images-wrapper:hover {
    cursor: pointer;
}

#services-images-background-1 {
    background-image: url(../images/h5-gallery-img-1-477x477.jpg);
}

#services-images-background-2 {
    background-image: url(../images/h5-gallery-img-2-477x477.jpg);
}

#services-images-background-3 {
    background-image: url(../images/h5-gallery-img-3-477x477.jpg);
}

#services-images-background-4 {
    background-image: url(../images/h5-gallery-img-4-477x477.jpg);
}

.services-images-background {
    background-size: initial;
    transform: scale(1);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 auto;
    height: 479px;
    z-index: -2;
}

.zoomed {
    transition: scale 1s cubic-bezier(.29, 1.01, 1, -0.68);
    transform: scale(1.10);
}

#menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 90px 120px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-heading {
    font-size: var(--h5-size);
}

.menu-icons {
    margin-bottom: 10px;
    position: relative;
}

.menu-icons:hover {
    cursor: pointer;
}

.icon-hovered {
    transition: background-position 1s;
    background-image: linear-gradient(to top,rgba(255, 204, 0, 0.302) 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 50%;
    background-size: 100% 200%;
}

.menu-heading-hovered {
    animation-name: heading-hovered;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

@keyframes heading-hovered {
    to {
        color: var(--secondary-color)
    }
}

.plus-thin {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 40%;
    visibility: hidden;
}

.rotating-clockwise {
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#parallax {
    color: white;
    text-align: center;
    background-image: url(../images/h5-parallax-img-2.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-top-layer {
    min-height: 300px;
    background: rgba(0, 0, 0, 0.164);
    overflow: hidden;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2#parallax-heading {
    font-size: 64px;
    font-weight: 300;
    word-spacing: 8px;
}

#parallax-top-layer p {
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
}

section#section-map {
    background: 
            linear-gradient(to bottom, rgb(0 0 0 / 85%) 21%, rgba(255, 255, 255, 0) 50%),
            rgb(0 0 0 / 75%) 
            linear-gradient(to top, rgba(0, 0, 0, 0.616) 24%, rgba(255, 255, 255, 0) 50%);
    position: relative;
}

#map-transparent-layer {
    min-height: 300px;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
}

#map { 
    height: 300px; 
    z-index: -2;
}

#section-map h3 {
    padding: 20px 0px 10px 0px;
    text-align: center;
    color: white;
    font-size: var(--h4-size);
}